.info{
    background-color: black;
    width: fit-content;
    padding: 1px 10px 10px 10px;
    position: absolute;
    top: 0;
    left: 0;


}
.name{
    color: #FFD400;
}
.description{
    color: white;
}
